* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.div1:hover svg path {
    fill: blue;
}

ul {
    display: flex;
    gap: 40px;
    margin-left: 300px;
    margin-top: -30px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #9E9AA8;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.btn {
    color: #9E9AA8;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: white;
    border: 1px solid white;
    /* margin-left: 1000px; */

}

.card {
    display: flex;
    margin-left: 1100px;
    gap: 60px;
    margin-top: -30px;
}


.btn0 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 105px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #2BD0D0;
    /* margin-left: 800px; */
    /* margin-top: -500px; */
}

.h1 {
    color: #34313D;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 90px; */
    /* 112.5% */
    letter-spacing: -2px;
    margin-left: 200px;
    margin-top: 100px;
}

.h2 {
    color: #34313D;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 90px; */
    /* 112.5% */
    letter-spacing: -2px;
    margin-left: 200px;
    margin-top: 20px;
}

.p {
    width: 540px;
    color: #9E9AA8;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 163.636% */
    letter-spacing: 0.15px;
    margin-left: 200px;
}

.btn1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 197px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #2BD0D0;
    margin-left: 200px;
}

.box2 {
    width: 1110px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3A3054;
    margin-left: 200px;
}

.sec2 {
    /* position: relative; */
    margin-top: 200px;
    z-index: -1px;
}

.title {
    /* margin-top: 200px; */
}

.box3 {
    width: 769px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-top: 40px;
    z-index: -1px;
    display: flex;
}

.btn2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    /* text-align: center; */
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 188px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2BD0D0;
    margin-left: 900px;
    /* display: flex; */
    margin-top: -20px;
}

.input {
    color: #34313D;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 180% */
    letter-spacing: 0.15px;
    margin-left: 50px;
    border: none;
}

.h3 {
    width: 540px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    letter-spacing: -1px;
    /* text-align: center; */
    margin-left: 400px;
}

.sec3 {
    margin-top: 200px;
}


.btn3 {
    /* padding-top: 30px; */
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 197px;
    height: 60.48px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #2BD0D0;
    margin-left: 600px;
    /* margin-top: -50px; */
}

.sec3 {
    width: 1640px;
    /* margin-left: 50px; */
    height: 270px;
    flex-shrink: 0;
    background: rgb(54, 3, 3);
    margin-top: -1px;
    /* z-index: 1px; */
    /* position: absolute; */
    padding-top: 40px;
}
.div2:hover svg path {
    fill: blue;
}

.img1 {
    /* background-color: black; */
    margin-left: 90px;
}

.footer {
    padding-top: 100px;
    width: 100%;
    height: 200px;
    background: #232127;
}

.h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.25px;
}

.cardd5{
    display: flex;
    gap: 40px;
    margin-left: 400px;
    margin-top: -20px;
}

.cardd6{
    margin-left: 1200px;
    margin-top: -10px;
}

.img1:hover{
    fill: aqua;
}

.div4:hover{
    background-color: blue;
}